@import "tailwindcss";
body {
    color: white;
    width: 100%;
}

::-webkit-scrollbar {
    background: transparent;
    width: 0;
    height: 0;
}

.scroll-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


html {
    scroll-behavior: smooth;
}
